* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

input,
textarea,
select {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
}

body {
  position: relative;
}

body.dark-mode {
  background-color: #1b1b1b;
}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {
  * {}
}

@media screen and (min-width: 2000px) {
  * {
    font-size: 105%;
  }
}