* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

input,
textarea,
select {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  position: relative;
}

body.dark-mode {
  background-color: #1b1b1b;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  color: #d6d6d6;
}

@media screen and (max-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {
  * {}
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 105%;
  }
}

@media (max-width: 1199px) {
  body.mobile-sidebar-open {
    overflow: hidden;
  }
}