* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

input, textarea, select {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
}

body {
  position: relative;
}


@media screen and (max-width: 768px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {
  * {
    font-size: 105%;
  }
}

@media screen and (min-width: 2000px) {
  * {
    font-size: 110%;
  }
}