.bookmarkBtn {
    width: 25px;
    cursor: pointer;
    flex-shrink: 0;
}

.bookmarkBtn img {
    width: 100%;
    display: block;
}

.hide {
    display: none !important;
}

.bookmarkBtn img.darkIcon {
    display: none;
}

.bookmarkBtn img.lightIcon {
    display: block;
}

:global(.dark-mode) .bookmarkBtn img.darkIcon {
    display: block;
}

:global(.dark-mode) .bookmarkBtn img.lightIcon {
    display: none;
}